<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <nav>
        <ul>
            {{#if isLoggedIn}}
                <li><a href="/">Home</a></li>
                <li><a href="/auth/recipe">Recipe Search</a></li>
                <li><a href="/auth/recipestore">Recipe Store</a></li>
                <li><a href="/auth/shoppinglist">Shopping List</a></li>
                <li><a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a></li>
            {{else}}
                <li><a href="/">Home</a></li>
                <li><a href="/auth/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
    <!-- Logout Form -->
    {{#if isLoggedIn}}
    <form id="logout-form" action="/auth/logout" method="POST" style="display: none;">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    {{/if}}
</header>
    
    <div class="content">
        {{{body}}}
    </div>

    <footer>
        <p>&copy; 2024 The Prudent Pantry. All rights reserved.</p>
    </footer>
    
    <!-- Include any scripts or additional content here -->
</body>
</html>
