<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recipe Search</title>
</head>
<body>
    <form id="searchForm" action="/recipe" method="GET">
        <input id="searchInput" type="text" name="q" placeholder="Search for a recipe">
        <button type="submit" value="Search">Search</button>
    </form>
</body>
</html>