<!-- recipestore.handlebars -->

<div class="container">
    <!-- Display saved recipes here -->
    {{#if SavedRecipeStoreRecipes.length}}
        <h1>Saved Recipes</h1>
        <div id="SavedRecipeStoreRecipes"></div>
    {{else}}
        <p>No saved recipes yet.</p>
    {{/if}}
</div>

<script src="/js/recipestorescript.js"></script>