<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping List</title>
</head>
<body>
    <div id="shoppingList">
        <h1>Shopping List</h1>
        <li action="/shoppinglist" method="POST">
            <div>
                <h2 for="itemName">Item Name:</h2>
            </div>
            <div>
                <p for="quantity">Quantity:</p>
            </div>
        </li>
    </div>
</body>
</html>