public/css/styles.css

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 30%;
    padding: 10px;
    background-color: beige;
    color: #ab3600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid black;
}

button:hover {
    background-color: #000000;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}


a {
    color: #ab3600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-button {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #000000;
    text-decoration: none; /* Removes underline on hover */
}

ul.a {
    list-style-type: none; /* Removes bullet points */
    padding: 0;
}

/* li {
    display: inline;
    margin-right: 10px;
} */

nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

/* Additional styling for navigation links (optional) */
nav a {
    padding: 5px 10px;
    background-color: beige;
    color: #ab3600;
    border-radius: 5px;
    font-size: 20px;
}

nav a.active {
    background-color: #003e814f;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
}

/* ol {
    margin: 0;
    padding: 0;
}

ol li {
    display: block;
    margin: 0;
    padding: 0;
    
} */

h2.card, p.ingredients, ol {
    text-align: left;
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card {
    padding: 20px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 10px;
}

.ingredientLines li {
    list-style-type: disc;
    margin: 2px;
    padding: 2px;
    margin-bottom: 3px;
    margin-left: 20px;
}

#nextPage {
    width: 6%;
    padding: 10px;
    background-color: beige;
    color: #ab3600;
    border-radius: 5px;
    transition: background-color 0.3s;
    float: right;
    border: 1px solid black;
    margin-top: 10px;
}


img {
    width: 25%;
    height: auto;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px;
}

.save-recipe {
    width: 15%;
    padding: 10px;
    background-color: #ab3600;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.save-ingredients {
    width: 15%;
    padding: 10px;
    background-color: #ab3600;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}


 .card a {
    color: #ab3600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-decoration: underline;
 }

#searchInput {
    width: 30%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}

#searchButton {
    width: 10%;
    padding: 10px;
    background-color: #ab3600;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: cursor;
    transition: background-color 0.3s;
}

#searchForm {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
    color: #ab3600;
}

@media (min-width: 820px) {
    .container {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 820px) {
     #searchButton, .save-ingredients, .save-recipe, #nextPage{
        width: 25%;
    }
    
}

@media screen and (max-width: 820px) {
    #saveInput {
        width: 40%;
    }
    
}

@media screen and (max-width: 820px) {
    img {
        width: 100%;
    }
    
<<<<<<< HEAD
}
=======
}
>>>>>>> 414c1d5 (Major update)
